.container {
  max-width: 1100px;
  margin: 30px auto;
  padding: 30px 60px;
  border: 2px solid #eee;
  background: white;
}

.homeButton {
  font-size: 1.3rem;
  padding: 10px 30px;
  background-color: #1e87f0;
  border-radius: 5px;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-flex;
  cursor: pointer;
  outline: none;
}

.homeButton:hover {
  color: #fff;
}

.flexContainer {
  display: flex;
  justify-content: center;
}

.title {
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 10px;
}

.totalResults {
  font-size: 1.3rem;
  text-align: center;
}

.icon {
  padding: 5px;
  i {
    padding: 3px;
  }
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.githubLink {
  margin: 0 0 15px 0;
}

.githubLink:hover {
  border: 2px solid #1e87f0;
}

.forkSourceText {
  font-size: 12px;
}

.tab {
  align-items: center;
  border-bottom-color: #dbdbdb;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  color: #4a4a4a;
  display: flex;
  justify-content: center;
  margin-bottom: -1px;
  padding: 0.5em 1em;
  vertical-align: top;
  cursor: pointer;
  outline: none;
}

.tab:hover {
  border-bottom-color: #363636;
  color: #363636;
}

.tab.isActive {
  border-bottom-color: #1e87f0;
  color: #1e87f0;
}
